@media only screen and (max-width: 1260px) {
	.line-l, .line-r {
		opacity: 0;
	}
}

@media only screen and (max-width: 1260px) {
	.carousel-cell {
    	margin-right: 80px;
    }
    .slide-title {
    	left: -40px;
    }
    .s-img-t {
	    &.s1 {
	    	margin: 5px -31px;
	    }
	    &.s2 {
	    	margin: 4px -14px;
	    }
	    &.s3 {
	    	margin: 4px -56px;
	    }
	    &.s4 {
	    	margin: 5px -64px;
	    }
	    &.s5 {
	    	margin: 5px -30px;
	    }
	}
}

@media only screen and (max-width: 900px) {
	.home-info-container {
		padding: 126px 20px 80px;
	}
	.btn-projects {
		width: 30%;
	}
	.line-bl, .line-br {
		width: 35%;
	}
}

@media only screen and (max-width: 768px) {
	.nav {
		width: 100%;
		height: 100%;
		top: initial;
		bottom: 0;
	}
	.nav-logo {
		display: none;
	}
	.nav-line {
		display: none;
	}
	.nav-item-container {
		flex-direction: row;
	}
	.nav-line-txt-container {
		display: none;
	}
	.home {
		padding-left: initial;
    	width: 100vw;
    	//height: calc(100vh - 120px);
    	//height: calc(100vh - 60px);
    	//padding-top: 100px;
    	//padding-bottom: 135px;
    	height: 100%;
    	padding: 50px 0 110px 0px;
	}
	.screen-update {
		height: 100%;
		padding: 50px 0 110px 0px;
		//padding: 127px 0 90px 60px;
		//padding-top: 100px;
    	//padding-bottom: 135px;
	}
	.logo-container {
		//margin-top: -52px;
	}
	.logo1, .logo2 {
		height: 120px;
	}
	.line-tl, .line-tr {
		width: 20%;
	}
	#projects {
		padding: 0;
		width: 100vw;
		height: calc(100vh - 60px);
	}
	.carousel {
		top: calc(50% - 30px);
	}
	// .s-img-t {
	//     &.s1 {
	//     	margin: 5px -31px;
	//     }
	//     &.s2 {
	//     	margin: 4px -14px;
	//     }
	//     &.s3 {
	//     	margin: 4px -56px;
	//     }
	//     &.s4 {
	//     	margin: 5px -64px;
	//     }
	//     &.s5 {
	//     	margin: 5px -30px;
	//     }
	// }
	.sub-wrap {
		margin: 60px 20px;
	}
	.sub-desc {
		margin-bottom: 60px;
	}
	.sub-title {
		h2 {
			margin: 0;
		}
	}
	.subT {
		transform: scaleX(1);
	}
	.sub-fixed {
		background-attachment: initial;
    	width: 100vw;
    	min-height: 360px;
	}
	.s-margin {
		margin-bottom: 60px;
	}
	.vimeo {
		margin-bottom: 20px;
	}
	.sub-dark {
		width: 100vw;
		padding: 60px 0 60px;
	}
	.next-s {
		height: 150vh;
	}
	.next-title {
		.nl {
			transform: scaleY(1);
		}
	}
	.sub-fixed-n {
		width: 100vw;
		background-attachment: initial;
		left: 0;
		.n-cover {
			display: none;
		}
	}
	.sub-title-n {
		left: 50%;
		top: 50%;
		//transform: translate(-50%, -50%);
		&:hover{
			outline: initial;
		}
		h1, h2 {
			opacity: 1;
			left: 0;
		}
		.bgn {
			background-attachment: initial;
		}
	}
	.projects-sub {
		display: block;
	    width: 100%;
	    padding: 0;
	}
	.sub-title{
		h1 {
			font-size: 36px;
    		line-height: 1;
    		margin-bottom: 10px;
		}
		h2 {
			letter-spacing: 2px;
		}
	}
	.sub-desc {
		//flex-direction: column;
		aside {
			// width: initial;
			// text-align: center;
   //  		margin-top: 40px;
   			display: none;
		}
	}
}

@media only screen and (max-width: 600px) {
	.btn-projects {
		width: 50%;
	}
	.line-bl, .line-br {
		width: 25%;
	}
	#projects {
		padding: 0;
		width: 100vw;
		height: calc(100vh - 60px);
	}
	.carousel {
		top: calc(50% - 30px);
	}
	.carousel-cell {
		margin-right: 40px;
	}
	.slide {
		//width: calc(200%  / 3);
	}
	.is-selected {
		.slide-title {
			transform: translate(-50%, -50%);
		}
		.hashtags {
			bottom: -22px;
		}
		&:hover {
	    	.slide-title {
	    		outline: initial;
	    	}
	    }
	}
	.slide-title {
		left: 50%;
    	transform: translate(-50%, -50%);
    	text-align: center;
    	//background-color: rgba(17, 17, 17, 0.8);
    	h1 {
    		font-size: 24px;
    		line-height: 1;
    		margin-bottom: 10px;
    		left: 20px;
    	}
    	h2 {
    		letter-spacing: 2px;
    		left: -20px;
    	}
	}
	.hashtags {
		bottom: 0px;
		justify-content: center;
		p {
			font-size: 11px;
    		//text-align: left;
    		line-height: 1;
    		margin: 0px 5px 0px;
		}
	}
	.s-img {
		left: calc(200% /3 * -1);
	}
	// .s-img-t {
	// 	left: calc(300% /3 * -1);
	// 	&.s1 {
	// 		margin: 5px -58px;
	// 	}
	// 	&.s2 {
	// 		margin: 5px -57px;
	// 	}
	// 	&.s3 {
	// 		margin: 5px -24px;
	// 	}
	// 	&.s4 {
	// 	    margin: 4px -14px;
	// 	}
	// 	&.s5 {
	// 	    margin: 5px -19px;
	// 	}
	// }
	.s1 {
		height: 360px;
	}
	.s2 {
		height: 360px;
		top: initial;
	}
	.s3 {
		height: 360px;
	}
	.s4 {
		height: 360px;
	}
	.s5 {
		height: 360px;
	}
}

@media only screen and (max-width: 400px) {
	.social {
		.social-container {
			width: 280px;
		}
	}
	.btn-projects {
		width: 70%;
	}
	.line-bl, .line-br {
		width: 15%;
	}
}


/*=======================================
	Heights
 =======================================*/
@media only screen and (min-height: 625px) {
	.home {
		//height: calc(100vh - 60px);
		height: 100vh;
		padding-top: initial;
		padding-bottom: initial;
		//display: block;

		//padding: 87px 0 50px 60px;
	}
	.scroller {
		display: block;
	}
}
@media only screen and (max-height: 300px) {
	.nav-logo {
		display: none;
	}
}




